<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JA Web Admin</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/default.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body>
        <div id="wrapper" class="toggled">

          {% include "common-templates/sidebar.html"%}

          <!-- Page Content -->
          <div class="container-fluid">
            <div class="container">

              <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                {{error}}
                <form role="form" id="login-form" method="post">
                    <fieldset>
                      <h2>Please sign in</h2>
                      <hr class="colorgraph">
                      <div class="form-group">
                        <input type="email" name="username" id="username" class="form-control input-lg" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                      </div>
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="info">Remember Me</button>
                        <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                        <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                      </span>
                      <hr class="colorgraph">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <a href="register" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>

            </div>

          </div>
          <!-- /#wrapper -->

          <!-- jQuery -->
          <script src="js/jquery.js"></script>

          <!-- Bootstrap Core JavaScript -->
          <script src="js/bootstrap.min.js"></script>
          <!-- // <script src="js/jput-2.js"></script> -->

          <!-- JA Web Custom .js -->
          <script src="js/ja-web.js"></script>

          <!-- Menu Toggle Script -->
          <script>
            $(function(){
              // $('#login-form').submit(function( event ) {
              //   // alert( "Handler for .submit() called." );
              //   // event.preventDefault();
                
              //   var username = $('#login-form #username');
              //   var password = $('#login-form #password');
              //   var remember_me = $('#login-form #remember_me');

              //   $.post("", { email: username, password: password, remember_me:remember_me })
              //   .done(function( data ) {
              //     alert( "Data Loaded: " + data );
              //   });

              //   event.preventDefault();
              // });
              
              $('.button-checkbox').each(function(){
                var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                  on: {
                    icon: 'glyphicon glyphicon-check'
                  },
                  off: {
                    icon: 'glyphicon glyphicon-unchecked'
                  }
                };

                $button.on('click', function () {
                  $checkbox.prop('checked', !$checkbox.is(':checked'));
                  $checkbox.triggerHandler('change');
                  updateDisplay();
                });

                $checkbox.on('change', function () {
                  updateDisplay();
                });

                function updateDisplay() {
                  var isChecked = $checkbox.is(':checked');
      // Set the button's state
      $button.data('state', (isChecked) ? "on" : "off");

      // Set the button's icon
      $button.find('.state-icon')
      .removeClass()
      .addClass('state-icon ' + settings[$button.data('state')].icon);

      // Update the button's color
      if (isChecked) {
        $button
        .removeClass('btn-default')
        .addClass('btn-' + color + ' active');
      }
      else
      {
        $button
        .removeClass('btn-' + color + ' active')
        .addClass('btn-default');
      }
    }
    function init() {
      updateDisplay();
      // Inject the icon if applicable
      if ($button.find('.state-icon').length == 0) {
        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
      }
    }
    init();
  });
});
</script>

</body>

</html>
