<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JA Web Admin</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/default.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body>
        <div id="wrapper" class="toggled">

          {% include "common-templates/sidebar.html"%}

          <!-- Page Content -->
          <div class="container-fluid">
           <div class="container">

            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form id="registration-form" role="form" action="" method="POST">
                  <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                  <hr class="colorgraph">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                      </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                     By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                   </div>
                 </div>

                 <hr class="colorgraph">
                 <div class="row">
                  <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                  <div class="col-xs-12 col-md-6"><a href="login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                </div>
              </form>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                 1. Registration and Subscription

                 When you register or subscribe for our services, you are registering or subscribing as a personal user of bizup. Access to registered user premium content and subscription areas are via your [email address and password].

                 We allow you access to the registered user premium content and subscription areas of the website on the basis that:

                 (i) your email address and password are personal to you and may not be used by anyone else to access bizup

                 (ii) you will not do anything which would assist anyone who is not a registered user to gain access to or sell any content contained in the registered premium content or subscriber areas of bizup

                 (iii) you do not maliciously create additional registered user or subscription accounts for the purpose of abusing the functionality of the website, or other users; nor do you seek to pass yourself off as another user

                 (iv) you comply with these terms and conditions.

                 If, for any reason, we believe that you have not complied with these requirements, we may, at our discretion, cancel your access to the registered user and subscription areas of bizup immediately and without giving you any advance notice.

                 2. Termination of registration and subscription

                 If we wish to bring the agreement to an end, we will do so by emailing you at the address you have registered stating that the agreement has terminated. The agreement will terminate and your email address and password will become invalid on bizup immediately.

                 You can also terminate this agreement and your account at any time by emailing your notice to us at but your information may remain stored in archive on our servers even after the deletion or the termination of your account.

                 3. Use of material appearing on bizup

                 For the purposes of these terms of service, "material" means material including, without limitation, text, video, graphics, photographs and sound material, published on the bizup website, whether copyright of bizup Services Private Limited or a third party.

                 You may download and print extracts from the material and make copies of these for your own personal and non-commercial use only. You are not allowed to download or print the material, or extracts from it, in a systematic or regular manner or otherwise so as to create a database in electronic or paper form comprising all or part of the material appearing on bizup.

                 You must not reproduce any part of bizup or the material or transmit it to or store it in any other website or disseminate any part of the material in any other form, unless we have indicated that you may do so.

                 We may be prepared to allow you to distribute or reproduce other parts of bizup or the material in certain circumstances. Please email us if you wish to apply for permission to do so.

                 4. Disclaimer of liability

                 To the extent permitted at law, we do not accept any responsibility for any statement in the material. You must not rely on any statement we have published on bizup without first taking specialist professional advice. Nothing in the material is provided for any specific purpose or at the request of any particular person.

                 For the avoidance of confusion, we will not be liable for any loss caused as a result of your doing, or not doing, anything as a result of viewing, reading or listening to the material or any part of it (except for death or personal injury attributable to our negligence and to the extent permitted at law).

                 You can access other sites via links from bizup. These sites are not under our control and we are not responsible in any way for any of their contents.

                 We give no warranties of any kind concerning bizup or the material. In particular, we do not warrant that bizup or any of its contents is virus free. You must take your own precautions in this respect as we accept no responsibility for any infection by virus or other contamination or by anything which has destructive properties.

                 5. Third party material on bizup

                 You may see material submitted by third parties on bizup. Those third party individuals are solely responsible for the content of the material which they submit to us, including ensuring that it complies with relevant legislation. We accept no responsibility for the content of any third party material, including, without limitation, any error, omission or inaccuracy therein.

                 We will not be liable for any infringement of copyright arising out of materials posted on or transmitted through the website by end users or any other third parties. Our policy is to comply with all relevant bizup and to act expeditiously upon receiving any notice of claimed infringement. If you believe that your work has been reproduced on this website in a manner that constitutes copyright infringement, please provide a notice of copyright infringement containing all relevant information to info@bizup

                 6. Submitting graphical material and photographs for publication on bizup

                 When you send a photograph or other graphical material (collectively, "graphic material") to us you do so in accordance with these terms of service.

                 This means that you hereby agree that you have taken or created the graphic material you have sent to us or you have permission from or are authorised by the owner of the graphic material to send it to us, and you are granting us a non-exclusive, royalty-free license to publish or otherwise use the graphic material in any way and at any time we want on the bizup website.

                 Selected graphical material may be published at the discretion of bizup Services Private Limited and you will not be paid, even if your graphic material is published.

                 We may cut, edit, crop or arrange your graphic material as we think fit to appear on the bizup website, and we may remove your graphic material at any time.

                 Your name will be published alongside your graphic material, but we may edit or delete any comments which you submit along with your graphic material.

                 IMPORTANT: You or the owner of the graphic material still own the copyright in the graphic material sent to us and are free to republish the graphic material wherever you or the owner wish and in whatever medium you or the owner want.

                 7. Submitting text or sound material for publication on bizup

                 Users of our website may from time to time submit text or sound material for publication in areas of the website.

                 If you want to submit text or sound material to us for publication on bizup, you may do so on the following terms and conditions:

                 (i) publication of any material you submit to us will be at our sole discretion. We reserve the right to make additions or deletions to the material prior to publication, or to refuse publication

                 (ii) you grant us a non-exclusive, perpetual, royalty-free, worldwide license to republish any material you submit to us in any format, including without limitation print and electronic format

                 (iii) you warrant to us that any material you submit to us is your own original work and that you own the copyright and any other relevant rights

                 (iv) you warrant that the material you submit is not obscene, offensive, defamatory of any person or otherwise illegal

                 (v) you agree not to post material which is deliberately intended to upset other users

                 (vi) you acknowledge that any breach of these warranties may cause us damage or loss and you agree to indemnify us in full and permanently against any third party liabilities, claims, costs, loss or damage we incur as a result of publishing material you submit to us, including consequential losses.

                 (vii) we reserve the right to remove your access to individual services completely if we believe you are abusing the services in any way.

                 You will be deemed to consent to these terms of service if you choose to post any material, content or comments to the website.

                 8. Data protection

                 Please see our privacy policy www.bizup/privacy-policy for details of how personal data may be stored and processed.

                 9. Variations

                 These terms may be varied from time to time. Please ensure that you review these terms and conditions regularly as you will be deemed to have accepted a variation if you continue to use the website after it has been posted.

                 10. Force majeure

                 Although we will do our best to provide constant, uninterrupted access to bizup, we do not guarantee this. We accept no responsibility or liability for any interruption or delay.

                 11. Governing law & jurisdiction

                 These terms of services are governed by the Laws of Kenya and all of the relevant parties agree to submit to the exclusive jurisdiction of the Courts of Kenya.
               </div>
               <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- // <script src="js/jput-2.js"></script> -->

    <!-- JA Web Custom .js -->
    <script src="js/ja-web.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $(function(){
        $('#registration-form').submit(function( event ) {
                // alert( "Handler for .submit() called." );
                // event.preventDefault();

                var first_name = $('#first_name').val();
                var display_name = $('#display_name').val();
                var email = $('#email').val();
                var password = $('#password').val();
                var password_confirmation = $('#password_confirmation').val();
                var t_and_c = $('#t_and_c').val();
                if(password !== password_confirmation) {
                  alert('passwords must match')
                  event.preventDefault();
                }
                console.log(t_and_c);

                if(t_and_c !== "1") {
                  alert('You must agree to terms');
                  event.preventDefault();
                }               

                // $.post("", { email: username, password: password, remember_me:remember_me })
                // .done(function( data ) {
                //   alert( "Data Loaded: " + data );
                // });

              });

        $('.button-checkbox').each(function(){
          var $widget = $(this),
          $button = $widget.find('button'),
          $checkbox = $widget.find('input:checkbox'),
          color = $button.data('color'),
          settings = {
            on: {
              icon: 'glyphicon glyphicon-check'
            },
            off: {
              icon: 'glyphicon glyphicon-unchecked'
            }
          };

          $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
          });

          $checkbox.on('change', function () {
            updateDisplay();
          });

          function updateDisplay() {
            var isChecked = $checkbox.is(':checked');
      // Set the button's state
      $button.data('state', (isChecked) ? "on" : "off");

      // Set the button's icon
      $button.find('.state-icon')
      .removeClass()
      .addClass('state-icon ' + settings[$button.data('state')].icon);

      // Update the button's color
      if (isChecked) {
        $button
        .removeClass('btn-default')
        .addClass('btn-' + color + ' active');
      }
      else
      {
        $button
        .removeClass('btn-' + color + ' active')
        .addClass('btn-default');
      }
    }
    function init() {
      updateDisplay();
      // Inject the icon if applicable
      if ($button.find('.state-icon').length == 0) {
        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
      }
    }
    init();
  });
      });
    </script>

  </body>

  </html>
